In [1]:
import requests
from pprint import pprint
import os
import csv
import pandas as pd
import numpy as np
from itertools import chain

omdb_key = "9b9d69c4"

In [2]:
top_grossing_csv = 'Top_Grossing_Films.csv'
top_grossing_df = pd.read_csv(top_grossing_csv)
top_grossing_df

,Year,Movie ID,Movie Title,Revenue
0,1927,287262,The Battles of the Coronel and Falkland Islands,6241682
1,1928,173689,Lights of New York,1200000
2,1929,65203,The Broadway Melody,4358000
3,1930,166307,Tom Sawyer,11000000
4,1931,3035,Frankenstein,12000000
...,...,...,...,...
88,2015,140607,Star Wars: The Force Awakens,2068223624
89,2016,271110,Captain America: Civil War,1153296293
90,2017,181808,Star Wars: The Last Jedi,1332539889
91,2018,299536,Avengers: Infinity War,2046239637
92,2019,299534,Avengers: Endgame,2797800564

In [3]:
url = f"http://www.omdbapi.com/?apikey={omdb_key}&t="

In [4]:
top_grossing_df['Movie Genre'] = ""
top_grossing_df['Runtime'] = ""
top_grossing_df['Actors'] = ""
top_grossing_df['IMDB Rating'] = ""
top_grossing_df['Rotten Tomatoes Rating'] = ""

top_grossing_df.head()

,Year,Movie ID,Movie Title,Revenue,Movie Genre,Runtime,Actors,IMDB Rating,Rotten Tomatoes Rating
0,1927,287262,The Battles of the Coronel and Falkland Islands,6241682,,,,,
1,1928,173689,Lights of New York,1200000,,,,,
2,1929,65203,The Broadway Melody,4358000,,,,,
3,1930,166307,Tom Sawyer,11000000,,,,,
4,1931,3035,Frankenstein,12000000,,,,,

In [5]:
top_grossing_df = top_grossing_df.replace(to_replace = ["La figlia di Frankenstein"], value ="Lady Frankenstein")
top_grossing_df = top_grossing_df.replace(to_replace = ["Harry Potter and the Philosopher's Stone"], value ="Harry Potter and the Sorcerer's Stone")

#df.replace(to_replace =["La figlia di Frankenstein"],  value ="Lady Frankenstein")

In [6]:

for index, row in top_grossing_df.iterrows():
    
    query_url = url + (row['Movie Title'])
    
    response_url = requests.get(query_url).json()
    
    try:
        top_grossing_df.loc[index, 'Movie Genre'] = response_url['Genre']
        top_grossing_df.loc[index, 'Actors'] = response_url['Actors']
        top_grossing_df.loc[index, 'Runtime'] = response_url['Runtime']
        top_grossing_df.loc[index, 'IMDB Rating'] = response_url['Ratings'][0]['Value']
        top_grossing_df.loc[index, 'Rotten Tomatoes Rating'] = response_url['Ratings'][1]['Value']
        
    except (KeyError,IndexError):
        print(f" Problem with this film - '{row['Movie Title']}'")

 Problem with this film - 'The Battles of the Coronel and Falkland Islands'
 Problem with this film - 'Lights of New York'
 Problem with this film - 'Tom Sawyer'
 Problem with this film - 'Seeds of Destiny'
 Problem with this film - 'Spartacus'
 Problem with this film - 'Hawaii'
 Problem with this film - 'Lady Frankenstein'
 Problem with this film - 'To Fly!'
 Problem with this film - 'Star Wars: The Force Awakens'
 Problem with this film - 'Star Wars: The Last Jedi'

In [7]:
top_grossing_df.head(50)

,Year,Movie ID,Movie Title,Revenue,Movie Genre,Runtime,Actors,IMDB Rating,Rotten Tomatoes Rating
0,1927,287262,The Battles of the Coronel and Falkland Islands,6241682,,,,,
1,1928,173689,Lights of New York,1200000,"Crime, Drama, Music, Romance",57 min,"Helene Costello, Cullen Landis, Mary Carr, Whe...",5.7/10,
2,1929,65203,The Broadway Melody,4358000,"Drama, Musical, Romance",100 min,"Charles King, Anita Page, Bessie Love",5.7/10,36%
3,1930,166307,Tom Sawyer,11000000,"Adventure, Musical, Family",103 min,"Johnny Whitaker, Celeste Holm, Warren Oates, J...",6.5/10,
4,1931,3035,Frankenstein,12000000,"Drama, Horror, Sci-Fi",70 min,"Colin Clive, Mae Clarke, John Boles, Boris Kar...",7.8/10,100%
5,1932,33680,Grand Hotel,2594000,"Drama, Romance",112 min,"Greta Garbo, John Barrymore, Joan Crawford, Wa...",7.4/10,88%
6,1933,244,King Kong,10000000,"Action, Adventure, Drama, Romance",187 min,"Naomi Watts, Jack Black, Adrien Brody, Thomas ...",7.2/10,84%
7,1934,8208,The Man Who Knew Too Much,10250000,"Drama, Thriller",120 min,"James Stewart, Doris Day, Brenda de Banzie, Be...",7.5/10,87%
8,1935,12311,Mutiny on the Bounty,4460000,"Adventure, Biography, Drama, History, Romance",132 min,"Charles Laughton, Clark Gable, Franchot Tone, ...",7.7/10,93%
9,1936,3082,Modern Times,8500000,"Comedy, Drama, Family, Romance",87 min,"Charles Chaplin, Paulette Goddard, Henry Bergm...",8.5/10,100%
10,1937,408,Snow White and the Seven Dwarfs,184925486,"Animation, Family, Fantasy, Musical, Romance",83 min,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",7.6/10,95/100
11,1938,34106,You Can't Take It with You,7433101,"Comedy, Drama, Romance",126 min,"Jean Arthur, Lionel Barrymore, James Stewart, ...",7.9/10,93%
12,1939,770,Gone with the Wind,402352579,"Drama, History, Romance, War",238 min,"Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",8.1/10,91%
13,1940,10895,Pinocchio,84300000,"Animation, Comedy, Family, Fantasy, Musical",88 min,"Mel Blanc, Don Brodie, Stuart Buchanan, Walter...",7.4/10,100%
14,1941,15,Citizen Kane,23217674,"Drama, Mystery",119 min,"Joseph Cotten, Dorothy Comingore, Agnes Mooreh...",8.3/10,100%
15,1942,3170,Bambi,267447150,"Animation, Drama, Family",70 min,"Hardie Albright, Stan Alexander, Bobette Audre...",7.3/10,90%
16,1943,98493,Hitler's Children,3355000,"Documentary, History",59 min,"Bettina Göring, Katrin Himmler, Monika Hertwig...",7.4/10,81%
17,1944,17661,Going My Way,16300000,"Comedy, Drama, Music",126 min,"Bing Crosby, Barry Fitzgerald, Frank McHugh, J...",7.0/10,83%
18,1945,32430,The Bells of St. Mary's,21300000,Drama,126 min,"Bing Crosby, Ingrid Bergman, Henry Travers, Wi...",7.3/10,85%
19,1946,240417,Seeds of Destiny,200000000,"Documentary, Short",20 min,Ralph Bellamy,6.5/10,
20,1947,33667,Gentleman's Agreement,7800000,"Drama, Romance",118 min,"Gregory Peck, Dorothy McGuire, John Garfield, ...",7.2/10,74%
21,1948,3089,Red River,9012000,"Action, Adventure, Drama, Romance, Western",133 min,"John Wayne, Montgomery Clift, Joanne Dru, Walt...",7.8/10,100%
22,1949,29993,Samson and Delilah,11500000,"Drama, History, Romance",134 min,"Hedy Lamarr, Victor Mature, George Sanders, An...",6.8/10,63%
23,1950,11224,Cinderella,263591415,"Drama, Family, Fantasy, Romance",105 min,"Cate Blanchett, Lily James, Richard Madden, He...",6.9/10,84%
24,1951,12092,Alice in Wonderland,572000000,"Adventure, Family, Fantasy",108 min,"Johnny Depp, Mia Wasikowska, Helena Bonham Car...",6.4/10,51%
25,1952,27191,The Greatest Show on Earth,36000000,"Drama, Family, Romance",152 min,"Betty Hutton, Cornel Wilde, Charlton Heston, D...",6.6/10,43%
26,1953,10693,Peter Pan,87404651,"Animation, Adventure, Family, Fantasy, Musical",77 min,"Bobby Driscoll, Kathryn Beaumont, Hans Conried...",7.3/10,80%
27,1954,567,Rear Window,36764313,"Mystery, Thriller",112 min,"James Stewart, Grace Kelly, Wendell Corey, The...",8.4/10,99%
28,1955,10340,Lady and the Tramp,93933394,"Animation, Adventure, Comedy, Drama, Family, R...",76 min,"Peggy Lee, Larry Roberts, Bill Baucom, Verna F...",7.3/10,93%
29,1956,6844,The Ten Commandments,122700000,"Adventure, Drama",220 min,"Charlton Heston, Yul Brynner, Anne Baxter, Edw...",7.8/10,89%
30,1957,826,The Bridge on the River Kwai,44908000,"Adventure, Drama, War",161 min,"William Holden, Alec Guinness, Jack Hawkins, S...",8.1/10,95%
31,1958,17352,South Pacific,36800000,"Musical, Romance, War",157 min,"Rossano Brazzi, Mitzi Gaynor, John Kerr, Ray W...",6.8/10,80%
32,1959,665,Ben-Hur,164000000,"Adventure, Drama, History",212 min,"Charlton Heston, Jack Hawkins, Haya Harareet, ...",8.1/10,86%
33,1960,967,Spartacus,60000000,"Action, Adventure, Biography, Drama, History, ...",55 min,"Manu Bennett, Daniel Feuerriegel, Peter Mensah...",8.5/10,
34,1961,12230,One Hundred and One Dalmatians,215880014,"Animation, Adventure, Comedy, Family",79 min,"Rod Taylor, J. Pat O'Malley, Betty Lou Gerson,...",7.2/10,98%
35,1962,11349,Cape Fear,103000000,"Crime, Thriller",128 min,"Robert De Niro, Nick Nolte, Jessica Lange, Jul...",7.3/10,74%
36,1963,657,From Russia with Love,78898765,"Action, Adventure, Thriller",115 min,"Sean Connery, Daniela Bianchi, Pedro Armendári...",7.4/10,95%
37,1964,658,Goldfinger,124881062,"Action, Adventure, Thriller",110 min,"Sean Connery, Gert Fröbe, Honor Blackman, Shir...",7.7/10,99%
38,1965,15121,The Sound of Music,286214286,"Biography, Drama, Family, Musical, Romance",172 min,"Julie Andrews, Christopher Plummer, Eleanor Pa...",8.0/10,83%
39,1966,14689,Hawaii,34562222,"Drama, Romance",102 min,"Manuel Vignau, Mateo Chiarino, Luz Palazón, An...",7.2/10,
40,1967,9325,The Jungle Book,205843612,"Adventure, Drama, Family, Fantasy",106 min,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",7.4/10,94%
41,1968,62,2001: A Space Odyssey,68700000,"Adventure, Sci-Fi",149 min,"Keir Dullea, Gary Lockwood, William Sylvester,...",8.3/10,93%
42,1969,642,Butch Cassidy and the Sundance Kid,102308889,"Biography, Crime, Drama, Western",110 min,"Paul Newman, Robert Redford, Katharine Ross, S...",8.0/10,90%
43,1970,9062,Love Story,136400000,"Drama, Romance",100 min,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",6.9/10,67%
44,1971,3122,Lady Frankenstein,139683000,Horror,99 min,"Joseph Cotten, Rosalba Neri, Paul Muller, Ricc...",5.0/10,
45,1972,238,The Godfather,245066411,"Crime, Drama",175 min,"Marlon Brando, Al Pacino, James Caan, Richard ...",9.2/10,98%
46,1973,9552,The Exorcist,441306145,Horror,122 min,"Ellen Burstyn, Max von Sydow, Lee J. Cobb, Kit...",8.0/10,83%
47,1974,11072,Blazing Saddles,119601481,"Comedy, Western",93 min,"Cleavon Little, Gene Wilder, Slim Pickens, Har...",7.7/10,89%
48,1975,578,Jaws,470653000,"Adventure, Thriller",124 min,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",8.0/10,98%
49,1976,195012,To Fly!,120700000,"Documentary, Short, History",27 min,"Ellen Bry, Jennifer Kaye Evans",7.0/10,

In [8]:
actor_list_df = top_grossing_df[['Year','Movie Title', 'Actors']]
actor_list_df

,Year,Movie Title,Actors
0,1927,The Battles of the Coronel and Falkland Islands,
1,1928,Lights of New York,"Helene Costello, Cullen Landis, Mary Carr, Whe..."
2,1929,The Broadway Melody,"Charles King, Anita Page, Bessie Love"
3,1930,Tom Sawyer,"Johnny Whitaker, Celeste Holm, Warren Oates, J..."
4,1931,Frankenstein,"Colin Clive, Mae Clarke, John Boles, Boris Kar..."
...,...,...,...
88,2015,Star Wars: The Force Awakens,"J.J. Abrams, John Boyega, Anthony Carboni, Gwe..."
89,2016,Captain America: Civil War,"Chris Evans, Robert Downey Jr., Scarlett Johan..."
90,2017,Star Wars: The Last Jedi,Taylor Clark
91,2018,Avengers: Infinity War,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa..."
92,2019,Avengers: Endgame,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

In [9]:
def column_splitter(column_to_split):
    return list(chain.from_iterable(column_to_split.str.split(',')))

lengths = actor_list_df['Actors'].str.split(',').map(len)

actor_list_df = pd.DataFrame({
    'Year': np.repeat(actor_list_df['Year'],lengths),
    'Movie Title': np.repeat(actor_list_df['Movie Title'],lengths),
    'Actors': column_splitter(actor_list_df['Actors'])
})

actor_list_df.head(50)

    Year                                      Movie Title               Actors
0   1927  The Battles of the Coronel and Falkland Islands
1   1928                               Lights of New York      Helene Costello
1   1928                               Lights of New York        Cullen Landis
1   1928                               Lights of New York            Mary Carr
1   1928                               Lights of New York       Wheeler Oakman
2   1929                              The Broadway Melody         Charles King
2   1929                              The Broadway Melody           Anita Page
2   1929                              The Broadway Melody          Bessie Love
3   1930                                       Tom Sawyer      Johnny Whitaker
3   1930                                       Tom Sawyer         Celeste Holm
3   1930                                       Tom Sawyer         Warren Oates
3   1930                                       Tom Sawyer            Jeff East
4   1931                                     Frankenstein          Colin Clive
4   1931                                     Frankenstein           Mae Clarke
4   1931                                     Frankenstein           John Boles
4   1931                                     Frankenstein        Boris Karloff
5   1932                                      Grand Hotel          Greta Garbo
5   1932                                      Grand Hotel       John Barrymore
5   1932                                      Grand Hotel        Joan Crawford
5   1932                                      Grand Hotel        Wallace Beery
6   1933                                        King Kong          Naomi Watts
6   1933                                        King Kong           Jack Black
6   1933                                        King Kong         Adrien Brody
6   1933                                        King Kong   Thomas Kretschmann
7   1934                        The Man Who Knew Too Much        James Stewart
7   1934                        The Man Who Knew Too Much            Doris Day
7   1934                        The Man Who Knew Too Much     Brenda de Banzie
7   1934                        The Man Who Knew Too Much        Bernard Miles
8   1935                             Mutiny on the Bounty     Charles Laughton
8   1935                             Mutiny on the Bounty          Clark Gable
8   1935                             Mutiny on the Bounty        Franchot Tone
8   1935                             Mutiny on the Bounty       Herbert Mundin
9   1936                                     Modern Times      Charles Chaplin
9   1936                                     Modern Times     Paulette Goddard
9   1936                                     Modern Times        Henry Bergman
9   1936                                     Modern Times        Tiny Sandford
10  1937                  Snow White and the Seven Dwarfs           Roy Atwell
10  1937                  Snow White and the Seven Dwarfs      Stuart Buchanan
10  1937                  Snow White and the Seven Dwarfs    Adriana Caselotti
10  1937                  Snow White and the Seven Dwarfs        Eddie Collins
11  1938                       You Can't Take It with You          Jean Arthur
11  1938                       You Can't Take It with You     Lionel Barrymore
11  1938                       You Can't Take It with You        James Stewart
11  1938                       You Can't Take It with You        Edward Arnold
12  1939                               Gone with the Wind      Thomas Mitchell
12  1939                               Gone with the Wind       Barbara O'Neil
12  1939                               Gone with the Wind         Vivien Leigh
12  1939                               Gone with the Wind         Evelyn Keyes
13  1940                                        Pinocchio            Mel Blanc
13  1940                                        Pinocchio           Don Brodie

In [10]:
test = f"http://www.omdbapi.com/?apikey={omdb_key}&t=Jaws"
test_response = requests.get(test).json()
pprint(test_response)

{'Actors': 'Roy Scheider, Robert Shaw, Richard Dreyfuss, Lorraine Gary',
 'Awards': 'Won 3 Oscars. Another 11 wins & 19 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '11 Jul 2000',
 'Director': 'Steven Spielberg',
 'Genre': 'Adventure, Thriller',
 'Language': 'English',
 'Metascore': '87',
 'Plot': "When a killer shark unleashes chaos on a beach community, it's up to "
         'a local sheriff, a marine biologist, and an old seafarer to hunt the '
         'beast down.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Production': 'Universal Pictures',
 'Rated': 'PG',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.0/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '87/100'}],
 'Released': '20 Jun 1975',
 'Response': 'True',
 'Runtime': '124 min',
 'Title': 'Jaws',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Peter Benchley (screenplay), Carl Gottlieb (screenplay), Peter '
           'Benchley (based on the novel by)',
 'Year': '1975',
 'imdbID': 'tt0073195',
 'imdbRating': '8.0',
 'imdbVotes': '531,727'}

In [11]:
#df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)

top_grossing_df.to_csv('Final_Grossing_Data.csv', index = False)